{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe</title>
    <link rel="stylesheet" type="text/css" href="{% static 'menu/css/style.css'  %}">
</head>
<body>

    <div class="main" style="background-image: url('{% static "menu/image/photo.jpg" %}');">
        <div class="header">
            <div class="text_header">cafe sol</div>

        </div>

        <div class="content">

            <div class="cafes_box">
            <!-- template tag's -->
                {% for cafe in cafe %}

                    <div class="cafe">

                        <div class="con">
                            <div class="button"><button>{{cafe.name}}</button></div>
                            <div class="fee">{{cafe.price}}</div>
                        </div>    
                        <div class="describtion" dir="rtl"><div class="dicrib_cont">{{cafe.describtion}}</div></div>
                        
                    </div>

                {% endfor %}
                <a href={% url "menu:home"%}><button class="back">بازگشت به منوی اصلی</button></a>
                

            </div>

        </div>

    </div>
    
</body>
</html>