
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafesol</title>
    <link rel="stylesheet" type="text/css" href="{% static 'menu/css/style.css'  %}">
</head>
<body>
    <div class="main" style="background-image: url('{% static "menu/image/photo.jpg" %}');">

        
            <div class="header">
                <div class="text_header">cafe sol</div>
            </div>
            <div class="content">
                <div class="cafes_box" style="display: flex;flex-direction: column;justify-content:first baseline">
                    <div class="cafe" style="display: block;">
                        <div class="con" style="width: 100%;"> 
                            <a href="{% url 'menu:cafe' %}" style="height: 100%;width: 100%;"><button class="h1" style="height: 100%;width: 100%;">قهوه ها</button></a>

                        </div>
                    </div>
                    <div class="cafe" style="display: block;">
                        <div class="con" style="width: 100%;">
                            <a href="{% url 'menu:dessert' %}" style="height: 100%;width: 100%;"><button class="h1" style="height: 100%;width: 100%;">دسر ها</button></a> 

                        </div>
                    </div>
                </div>

            </div>
               
        

    </div>
   
</body>
</html>